.tx-indexedsearch-form {
    float: left;
}

.tx-indexedsearch-form label {
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 8px;
}

.tx-indexedsearch-search-submit {
    float: right;
}

#tx-indexedsearch-searchbox-sword {
    padding: 8px;
    border: 1px solid #CCCCCC;
    background: #F8F8F8;
    float:left;
    width: 380px;
}

#tx-indexedsearch-searchbox-button-submit {
    font-size: 13px;
    padding: 6px;
}