// This file must be imported before loading html5-boilerplate

// base
$base-font-family: unquote("Helvetica, Arial, sans-serif");
$base-font-size: 14px;
$base-line-height: 20px;
$font-color: #222;

// Links
$link-color: #009dd5;
$link-visited-color: #009dd5;
$link-hover-color: #e95f47;

// Lists
$list-left-margin: 40px;