// Style adjustments for desktop size
@media (min-width: $desktop) {

}

// Style adjustments for tablet size
@media (min-width: $tablet) and (max-width: $desktop) {

}

// Style adjustments for phone size
@media (max-width: $phone) {

}

