.qq-uploader {
	position:relative;
	width:100%;
}

.qq-upload-button {
	display:block;
	width:150px;
	background:url(images/image_add.png) no-repeat 0 -1px;
	padding:0 0 1px 20px;
	font-weight:bold;
}

.qq-upload-button-hover {
	text-decoration:underline;
	cursor:pointer;
}

.qq-upload-button-focus {
}

.qq-upload-drop-area {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	min-height:70px;
	z-index:2;
	background:#FF9797;
	text-align:center;
}

.qq-upload-drop-area span {
	display:block;
	position:absolute;
	top:50%;
	width:100%;
	margin-top:-8px;
	font-size:16px;
}

.qq-upload-drop-area-active {
	background:#FF7171;
}

.qq-upload-list {
	margin:15px 35px;
	padding:0;
	list-style:disc;
}

.qq-upload-list li {
	margin:0;
	padding:0;
	line-height:15px;
	font-size:12px;
}

.qq-upload-file,.qq-upload-spinner,.qq-upload-size,.qq-upload-cancel,.qq-upload-failed-text {
	margin-right:7px;
}

.qq-upload-file {
}

.qq-upload-spinner {
	display:inline-block;
	background:url(images/ajax-loader.gif);
	width:16px;
	height:11px;
	vertical-align:text-bottom;
}

.qq-upload-size,.qq-upload-cancel {
	font-size:11px;
}

.qq-upload-failed-text {
	display:none;
}

.qq-upload-fail .qq-upload-failed-text {
	display:inline;
}

.qq-upload-success {
	display:none;
}

.qq-upload-list {
	list-style-type:none;
	margin:0;
	padding:0;
	background: #fff;
}

.image {
	width:200px;
	float:left;
}

.imageWrapper {
	padding:18px;
	background: #fff;
	border:1px solid #B5B5B5;
	display:inline-block;
	position:relative;
}

.deleteFile {
	display:block;
	width:16px;
	height:16px;
	overflow:hidden;
	text-indent:100px;
	position:absolute;
	right:2px;
	top:2px;
	background:url(images/delete.png);
}